<h2>How it Works</h2>

<p>1. feel like a specific beer?</p>  
<p>2. search where its served/sold</p>
<p>3. go buy</p>
<p>4. tag other beers at store location to earn badges.</p>

<b>API USED: The location tagging would be powered by 4square api and login by FB.</b>