<div class="container">
	<div calss ="row">
		<!-- <div class = 'span1'> -->
			<a href = "http://beeradvocate.com/beer/profile/863/7971">
			<img src="<%=image_path('beers/russian_river_rliny_the elder.JPG')%>" width = '200' height ='100'></a>
		<!-- </div> -->
		<!-- <div class = 'span1'> -->
			<a href = "http://beeradvocate.com/beer/profile/147/92">
			<img src="<%=image_path('beers/stone_arrogand_bastard_ale.jpg')%>" width = '100' height ='100'></a>
		<!-- </div> -->
	</div>
	The site lets you know which beer sells at which store location and for what price by crowdsourcing the inventory tagging to consumers.
</div>